################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/x64/Debug/vc141.pdb
/x64/Debug/vc141.idb
/x64/Debug/test.obj
/x64/Debug/coroutine_proto.tlog/link.write.1.tlog
/x64/Debug/coroutine_proto.tlog/link.read.1.tlog
/x64/Debug/coroutine_proto.tlog/link.command.1.tlog
/x64/Debug/coroutine_proto.tlog/coroutine_proto.lastbuildstate
/x64/Debug/coroutine_proto.tlog/CL.write.1.tlog
/x64/Debug/coroutine_proto.tlog/CL.read.1.tlog
/x64/Debug/coroutine_proto.tlog/CL.command.1.tlog
/x64/Debug/coroutine_proto.pdb
/x64/Debug/coroutine_proto.log
/x64/Debug/coroutine_proto.ilk
/x64/Debug/coroutine_proto.exe
/Debug/vc141.pdb
/Debug/vc141.idb
/Debug/test.obj
/Debug/coroutine_proto.tlog/link.write.1.tlog
/Debug/coroutine_proto.tlog/link.read.1.tlog
/Debug/coroutine_proto.tlog/link.command.1.tlog
/Debug/coroutine_proto.tlog/coroutine_proto.lastbuildstate
/Debug/coroutine_proto.tlog/CL.write.1.tlog
/Debug/coroutine_proto.tlog/CL.read.1.tlog
/Debug/coroutine_proto.tlog/CL.command.1.tlog
/Debug/coroutine_proto.pdb
/Debug/coroutine_proto.log
/Debug/coroutine_proto.ilk
/Debug/coroutine_proto.exe
/coroutine_proto.vcxproj.filters
/coroutine_proto.vcxproj
/coroutine_proto.sln
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/ProjectSettings.json
/.vs/coroutine_proto/v15/ipch/AutoPCH/91996bff3af539d1/TEST.ipch
/.vs/coroutine_proto/v15/Browse.VC.opendb
/.vs/coroutine_proto/v15/Browse.VC.db
/.vs/coroutine_proto/v15/.suo
